jupyter
pandas
numpy
openai
langchainhub
langchain-openai
langchain
langchain-community
faiss-cpu
gradio
kagglehub
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
beautifulsoup4
langchain
tavily-python
gradio_client
